* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, sans-serif;
    color: #333;
    background-color: #f4f7f6;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
  }
  
  /* ------Navbar------ */
  
  .navbar input[type="checkbox"],
  .navbar .hamburger-lines {
    display: none;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    width: 90%;
  }
  
  .menu-items {
    order: 2;
    display: flex;
  }
  
  .menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
  }
  
  .menu-items a:hover {
    color: #117964;
    transition: color 0.3s ease-in-out;
  }
  
  .logo {
    order: 1;
    width: 40px;
    height: 40px;
  }
  
  /* ------------------- */
  
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0 4px 8 px rgba(0, 0, 0, 0.1);
  }
  
  .kontener {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  header h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #007bff;
  }
  
  header p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
  }
  
  .kartyak {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 30px;
  }
  
  .kartya {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: justify;
  }
  
  #elerhetoseg {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .kartya:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .kartya h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #007bff;
    text-align: center;
  }
  
  .kartya p {
    font-size: 1.1em;
    color: #666;
  }
  
  .kartya-img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .kartya-img2 {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #backToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #backToTopBtn:hover {
    background-color: #0056b3;
  }
  
  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .fade-in.visible {
    opacity: 1;
  }
  
  footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    color: #777;
    font-size: 0.9em;
    border-top: 1px solid #ddd;
  }
  
  @media (max-width: 768px) {
    .navbar {
      opacity: 0.95;
    }
  
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
      display: block;
    }
  
    .navbar-container {
      display: block;
      position: relative;
      height: 100%;
    }
  
    .navbar-container input[type="checkbox"] {
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
    }
  
    .navbar-container .hamburger-lines {
      display: block;
      height: 32px;
      width: 30px;
      position: absolute;
      top: 17px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;
    }
  
    .navbar-container .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #333;
    }
  
    .navbar-container .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .navbar-container .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    .navbar .menu-items {
      padding-top: 100px;
      background: #fff;
      height: 100vh;
      max-width: 200px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -50px;
      padding-left: 20px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
    }
  
    .navbar .menu-items li {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  
    .logo {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 2rem;
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(40deg);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-40deg);
    }
  }
  